@model IEnumerable<COMP2006_S2016_FinalExamV2.Models.Genre>

@{
    ViewBag.Title = "Genre";
}

@*Naga Rimmalapudi 200277598
  Displays the GenreListView
    *@

<h2>Genre</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
